.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

#answer_tb{
    padding:25px;
    background-color:#e2dddd;
    broder-radius:5px;
    margin-bottom:20px;
}

.label-version{
    background-color:black;
    color:white;
    padding:4px;
    position:absolute;
    margin-right:0px;
    margin-top:0px;
    right:0px;
    border-radius:0px 0px 0px 5px;
    top:0px;
}

.label-version-learning{
    background-color:orange;
    color:white;
    padding:4px;
    position:absolute;
    margin-right:0px;
    margin-top:0px;
    right:0px;
    top:0px;
    border-radius:0px 0px 0px 5px;
}

.aria-textbox{
    border-radius:4px;
}

.red-dot{
    color:red;
}

.view {
    position: relative;
    padding:60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-perspective: 400;
    perspective: 400;
}

.plane {
    width: 120px;
    height: 120px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.plane.main {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
    transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 20s infinite linear;
}
.plane.main .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px #5e0d80, inset 0 0 60px #5e0d80;
}

.plane.main .circle::before, .plane.main .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: #5e0d80;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px #5e0d80;
}
.plane.main .circle::before {
    -webkit-transform: translateZ(-90px);
    transform: translateZ(-90px);
}
.plane.main .circle::after {
    -webkit-transform: translateZ(90px);
    transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
    -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
    transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
    -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
    transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
    -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
    transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
    -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
    transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
    -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
    transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}